<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboard.mapper.BoardMapper">
    <resultMap id="boardResultMap" type="com.demo.springboard.BoardDTO">
        <id property="bid" column="bid" />
        <result property="title" column="title" />
        <result property="time" column="time" />
        <result property="writer" column="writer" />
        <!-- <result property="description" column="description" /> -->
    </resultMap>

    <select id="getBoards" resultMap="boardResultMap"> select bid, board.title as title, time,
        user.name as writer from board left join user on board.writer = user.uid </select>

    <select id="getBoardById"> select board.title as title, time, user.name as writer, description
        from board left join user on board.writer = user.uid where bid = #{bid} </select>

</mapper>